@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Inter", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

main.md-main {
    background-color:#edfaac;
}

.md-main__inner {
    max-width: 840px; 
}
.md-sidebar--primary {
    max-width: 150px;
}
.md-sidebar--secondary{
    width: 0px;
}
/* .md-sidebar--post {
    display: none;
} */

:root {
    --md-text-font: "Inter", sans-serif;
}
:root > * {
  --md-primary-fg-color:        #202020;
}

.md-typeset a {
  font-weight: 700;
}

figcaption{
  color: rgb(71 85 105);
}

.md-typeset figcaption{
  font-style: normal;
  font-size: 0.7rem;
}

img:not(.twemoji),
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 3px solid black; */
  padding: 1px;
}
/* video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    padding: 1px;
  } */

  /* hide "continue reading in home" */
.md-post__action{
    display: none;
}

.md-post__header {
    font-family: monospace;
    margin-right: 1.5rem;
}

/* homepage blog entries titles */
.md-post__content.md-typeset {
    align-content: center;
    display: flex;
    align-items: center;
    /* white-space: nowrap; */
}
/* .md-post__content.md-typeset::before {
    content: "/";
    margin-right: 8px;
    color: black;
    font-weight: var(--md-default-fg-color--light);
} */
.md-post__content.md-typeset h2 {
    line-height: 1.4;
    margin: 0;
}
/* .md-post__content.md-typeset > p,
.md-post__content.md-typeset > nav {
    display: none;
} */
nav.md-path {
    display: none !important;
}


.md-post-meta-line {
  /* display: flex; */
  justify-content: flex-start;
  /* align-items: flex-start; */
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  flex-shrink: 0;   /* critical */
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  display: inline-flex;
  /* align-items: center; */
  /* flex-wrap: nowrap; */
  /* white-space: nowrap; */
  vertical-align: top;

}

.md-post-date-line {
  display: inline-flex;
  margin-bottom: .75em;
  margin-top: -.125em;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  vertical-align: top;
  align-self: flex-start; /* critical */
  line-height: 1.1rem;
}

.md-post-meta-left {
  /* display: flex; */
  gap: 0.4rem;
  justify-content: flex-start;
  margin-bottom: .75em;
  margin-top: -.125em;
  flex-shrink: 0;   /* critical */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* white-space: nowrap; */
  display: inline-flex;
  /* align-items: center; */
  flex-wrap: nowrap;
  white-space: nowrap;
  vertical-align: top;
  align-self: flex-start; /* critical */

}

.md-post-meta-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.4rem;
  min-width: 0;
  align-self: flex-start; /* critical */
}

.md-typeset .md-tag[href] {
    line-height: 1;
    border-radius: 0;
}

.md-post-category {
    line-height: 1;
    border-radius: 30px !important;
}

/* home list full entry */
.md-post.md-post--excerpt {
    display: flex;
    border-bottom: 2px solid darkgray;
    padding: .5rem 1rem;
    margin-bottom: 0 !important;
}
.md-post.md-post--excerpt > * > * {
    font-size: 1rem !important;
}


.md-tabs {
    padding: 0 2.9rem;
}

.md-draft {
    margin-right: .4rem;
}

.md-footer {
    background-color: rgba(255, 255, 255, 0.616);
    color: black;
}
.md-footer-meta__inner.md-grid {
    justify-content: center;
    padding: 0;
}
/* .md-social {
    display: none;
} */

article > h2 {
    margin-bottom: .25rem !important;
}

article > p {
    margin-top: .5rem !important;
}

.md-typeset h1 {
    font-weight: 900;
    color: black !important;
}
.md-typeset h2 {
    font-weight: 700;
    color: black !important;
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    background-color: unset !important;
    box-shadow: none !important;
}

.md-meta__item:not(:last-child):after {
    content: "";
}

.md-content.md-content article:nth-child(odd) {
    background: #99d36f;
}

.md-content.md-content article:nth-child(even) {
  background: #daff9a;
}

.md-content > article:only-of-type {
    background: #edfaac !important;
}


.boxed {
    border: 2px solid #aaa; 
    padding: .5rem 1rem; 
    background: #f9f9f9;
}

#home-categories {
    margin-bottom: 1rem;
}